@keyframes spin {
  0% {
    transform: scale(1.5) rotate(0deg);
  }
  50% {
    transform: scale(0.9) rotate(360deg);
  }
  100% {
    transform: scale(1.5) rotate(720deg);
  }
}

.Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  height: 7vh;
  width: 100%;
  background-color: #282c34;
  color: white;
}
.logo {
  width: 10%;
  height: 10vh;
}
.logo:hover {
  cursor: pointer;
  animation: spin 2s linear infinite;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: normal;
  width: 60%;
}
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  width: 40%;
}
.menu-items > h3:hover {
  color: #61dafb;
  cursor: pointer;
}

.menu-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}
.Home > input {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 30%;
  height: 40%;
  margin-right: 1%;
}
