.frontPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
  width: 100%;
  background-color: rgb(71, 71, 71);
  color: #ffffff;
}
.middlediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33%;
  background-color: #f5f5f5;
  /* border: #282c34 10px groove; */
  border-radius: 25px;
  padding: 10px;
}
.word {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  max-height: 30%;
}
.middlediv > input {
  width: 50%;
  height: 10%;
  font-size: 1.5em;
  border: 1px solid #282c34;
  border-radius: 5px;
  padding: 5px;
}
.word > input {
  width: 100%;
  height: 100%;
}
.letters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 2%; */
  width: 60%;
  height: 33%;
}
.letters > input {
  width: 50%;
  height: 20%;
  border: 1px solid #282c34;
  border-radius: 5px;
  padding: 5px;
  margin-right: 3%;
}

.lowerdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33%;
}
.middlediv > button {
  width: 50%;
  /* height: 10%; */
  font-size: 1.5em;
  /* border: 1px solid #1955cc; */
  border-radius: 15px;
  padding: 5px;
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
}
.middlediv > button:hover {
  background-color: #646464;
  cursor: pointer;
}
.upperdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  padding-bottom: 10px;
}
.upperdiv > h1 {
  font-size: 2em;
}
.word input {
  margin-left: 1%;
  border-radius: 5px;
  border: 1px solid #282c34;
  padding: 5px;
  text-align: center;
}

.resetSearch {
  padding-bottom: 5%;
  /* align-items: center; */
}
.resetSearch > button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #000000;
  color: #ffffff;
  font-size: medium;
  padding: 8px;
}
.resetSearch > button:hover{
  background-color: #646464;
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background: rgb(71, 71, 71);
} */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.wordPart {
  display: flex;
  overflow: auto;
  /* when chaning the width, the top word as currently seen will be still */
  overflow-y: auto;
  flex-direction: row;
  justify-content: space-between;
  /* min-height: 200px; */
}


.wordlist {
  overflow: auto;
}
.wordlist > button:hover{
  cursor: pointer;
}

.wordlist > button{
  flex-direction: row;
  border: #000000 0px solid;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #ffffff;
  font-size: medium;
  padding: 8px;
  margin: 5px;
}

.foundWordPart{
  flex: auto;
  text-align: center;
  margin: 5px;
}

.foundWordPart button{
  border: #000000 0px solid;
  background-color: #166cff;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #ffffff;
  font-size: medium;
  padding: 8px;
  margin: 5px;
}

.foundWordPart button:hover{
  background-color: #3881ff;
  cursor: pointer;
}