

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.profile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.profile_content {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}
.profile_content button{
    width: 80%;
}


.logout_button{
    background-color: #3c168f;
    color: white;
    margin-top: 5px; /* Reduced or added top margin if needed for fine-tuning */
    margin-bottom: 10px; /* Ensure there's some space below the button */
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 8%;
    min-width: 90px;
    border-radius: 10px;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}


.wordle_history_button{
    background-color: #033ec8;
    color: white;
    margin-top: 5px; /* Reduced or added top margin if needed for fine-tuning */
    margin-bottom: 10px; /* Ensure there's some space below the button */
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 30%;
    border-radius: 10px;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.scoreboardRow {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.amountOfsearches {
    margin-left: 50px;
    text-align: center;
    align-items: center;
}

.amountOfsearches h1 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(60, 60, 60);
    margin-bottom: 10px;
    border-radius: 10px;
    height: 50px;
}
