.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
}

.scoreboard_header {
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
  color: white;
}

.scoreboard_content {
  width: 80%;
}

.rowScores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.listingScoreboard {
  width: 45%;
}
